<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <%= render 'layouts/header' %>
      <div class="container">
        <%= link_to "Пробное приложение", '#', id: 'logo' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Главная", '#' %></li>
            <li><%= link_to "Помощь", '#' %></li>
            <li><%= link_to "Войти", '#' %></li>
          </ul>
        </nav>
      </div>

    </header>
    <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
